<%-layout("layouts/boilerplate.ejs")%>
    <br>
    <h1>User Management System</h1>
    <h4>Edit username : <%=userData.username%>
    </h4>
    <p>Warning! : you need to enter right password</p>
    <div class="row">
        <div class="col-6">
             <form method="POST" action="/user/<%=userData.id%>?_method=PATCH">

        <div class="mb-3">

            <!-- <label for="username"  class="form-label">Username</label> -->
            <input type="text" name="username" class="form-control" placeholder="enter new username" id="username">
            <br>
            <input type="text" name="password" class="form-control" placeholder="enter correct password" id="password">

        </div>
        <button class="btn btn-dark btn-editpage">Edit </button>
    </form>
        </div>
    </div>
   